div {
    background: #eee;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.in-bl {
    display: inline-block;
}

/*-----------*/
.block1 {
    display: block;
    width: 500px;
    margin: 10px auto;
    background: aqua;
}

.block2 {
    display: block;
    width: 500px;
    margin: 10px auto;
    background: aqua;
    box-sizing: content-box;
    padding: 50px;
    border: 1px solid;
}

.block3 {
    display: block;
    width: 259px;
    margin: 10px auto;
    background: #bf154424;
    box-sizing: content-box;
    border: 1px solid;
    overflow-x: auto;
    height: 60px;
}

img {
    height: 50px;
    vertical-align: middle;
    opacity: 0.3;
    z-index: -1;
    margin-top: -28px;
    position: relative;
}

.center {
    text-align: center;
}

.position {
    position: relative;
    background: red;
    height: 50px;
    top: 10px;
    width: 500px;
    /*bottom: ;*/
    /*left: ;*/
    /*right: ;*/


}

.abs {
    position: absolute;
    background: blue;
    top: 10px;
    left: 60%;
}

.fx {
    position: fixed;
    top: 470px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: yellow;
}

.clear {
    clear: both;
}

header {
    background: red;
    margin-bottom: 50px;
    padding: 30px;
}

header > span {
    opacity: 0.5;
    background: blue;
    color: #83ff29;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

header > button {
    opacity: 0.8;
    background: none;
}

.psevdo::before {
    content: '+';
}

.psevdo::after {
    content: url("https://i.ytimg.com/vi/G_VovVg8SnA/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABgAEB&rs=AOn4CLAO3ms_0Fo4s1ttO74SwIZRt2hJCA");
}

/*-------ZADANIE 6-----------------------------*/

.block5 {
    display: block;
    width: 630px;
    margin: 10px auto;
    background: #38a6ff;
    /*box-sizing: content-box;*/
    padding: 12px auto;
    border: 1px solid;
    overflow-x: auto;
    white-space: nowrap
}

.block6 {
    display: inline-block;
    width: auto;
    margin: 5px 5px;
    padding: 3px;
    background: rgba(255, 79, 148, 0.7);
    box-sizing: content-box;
    border: 1px solid;
    overflow-x: auto;
    height: 300px;
}

.block7 {

    width: 100px;
    margin: 5px auto;
    background: #83ff29;
    box-sizing: content-box;
    padding: 5px;
    border: 1px solid;
}
.ul{
    position: fixed;
    height: 80px;
    right: 0%;
    top: -20px;
    background: orange;
    border: 2px solid #6900ff;
    overflow-y: scroll;
    padding-left: 22px;


}